body {
  font: bold 18px Trebuchet MS, sans-serif;
  color: #eee;
  background-color: #222;
  margin: 0
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  /* grid-template-rows: repeat(2, 30vw); */
  gap: 30px 5%;
}

#gallery {
  padding: 10vw;
}

.image {
  display: block;
  height: 30vh;
  width: 100%;
}

.image-item {
  transition: 1s;
}

.image-item:nth-child(4) {
  grid-column: span 3;
}

.image-item:nth-child(5) {
  grid-column: span 2;
}


.image-item:hover {
  z-index: 99;
  transform: rotate(40deg);
}

.image-item:nth-child(1)>.image {
  background-image: url('assets/images/lake_01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-item:nth-child(2)>.image {
  background-image: url('assets/images/lake_02.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-item:is(:nth-child(3), :nth-child(4)) .image {
  width: 100%;
  object-fit: cover;
}

.image-item:is(:nth-child(5), :nth-child(6)) .image {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1280px) {
  ul {
    grid-template-columns: repeat(2, auto);;
  }

  .image-item:nth-child(3n) {
    grid-column: span 2;
  }

  .image-item:not(:nth-child(3n)) {
    grid-column: span 1;
  }

  .image-item:nth-child(1)>.image {
    background-image: url('assets/images/1280px/lake_01.png');
  }

  .image-item:nth-child(2)>.image {
    background-image: url('assets/images/1280px/lake_02.png');
  }
}

@media (max-width: 768px) {
  ul {
    grid-template-columns: auto;;
  }

  .image-item {
    grid-column: span 1 !important;
  }

  .image-item:nth-child(1)>.image {
    background-image: url('assets/images/768px/lake_01.jpg');
  }

  .image-item:nth-child(2)>.image {
    background-image: url('assets/images/768px/lake_02.jpg');
  }
}
